.genre-names{
    margin-bottom: 1.5vh;
}

.single-genre-module{
    font-size: 1.4vw;
    font-weight: 700;
    margin: 3vw 0;
    padding: 0;
    box-sizing: border-box;

}

.img-thumb{
    border-radius: 3px;
    z-index: 0;
}

.genre-movie{
    border-radius: 4px;
    z-index: 0;
}

.sound-button:hover{
    cursor: pointer;
}

.single-movie-container {
    z-index: 1;
}

.single-movie-controls img{
    width: 2vw;
    z-index: 1;
}