html {
  scroll-behavior: smooth;
}

.single-genre-module {
  display: flex;
  flex-flow: row;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

  /* section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat;
    margin: 20px 0;
  } */
    
/* .genre-item{
  flex-flow: row;
} */
.img-thumb{
  border-radius: 5px;
  width: 16vw;
  padding: 0.1vw;
}

.movie-thumb{
  width: 16vw;
  padding: 0.1vw;
}
      
/* .movie-thumb:hover { 
  transition: 250ms all;
  transform: scale(1.75);
} */

.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background:rgb(0,0,0);
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
    }

.left-arrow {
  top:0; bottom:0; left:0;
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
    
.right-arrow {
  top:0; bottom:0; right: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.single-movie{
  /* position: absolute; */
  transition-duration: 500ms;
  border-radius: 4px;
  background-color: rgb(35, 35, 35);
  /* z-index: 10; */
}

.single-movie:hover{
  /* position: absolute; */
  transform: scale(1.30);
  
}