.genre-modules{
    position: relative;
    /* position: absolute; */
    top: -250px;
    margin-left: 3vw;
    z-index: 10;
    overflow: hidden;
}

.genre-names{
    font-size: 1.5vw;
    font-weight: 600;
}

.single-genre-module{
    margin-top: 1vh;
    margin-bottom: 1.8vh;
}

/* .genre-item{
    position: absolute;
    z-index: 10;
} */

.img-thumb{
    border-radius: 6px;
}

.single-movie{
    border-radius: 6px;
}

.sound-button:hover{
    cursor: pointer;
}

.single-movie-container{
    padding: 1vw 1vh;
}

.single-movie-controls img{
    width: 2vw;
}