.genre-names{
    margin-bottom: 1.5vh;
}

.single-genre-module{
    font-size: 1.4vw;
    font-weight: 700;
    margin: 3vw 0;
    padding: 0;
    box-sizing: border-box;

}

.img-thumb{
    border-radius: 3px;
}

.genre-movie{
    border-radius: 4px;
}

.sound-button:hover{
    cursor: pointer;
}