.home-movie-box{
    position: relative;
}

.home-movie-box .nav{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.home-movie-box #video{
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#main-movie-controls{
    position: absolute;
    top: 43vh;
    margin-left: 3vw;
    z-index: 1;
}

#main-movie-logo{
    width: 20vw;
}

#main-movie-info{
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

#main-movie-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-movie-options .sound-button{
    margin-left: 76vw;
    width: 3vw;
}

#main-movie-options .sound-button:hover{
    cursor: pointer;
}

#main-movie-rating{
    border: solid 3px #dcdcdc;
    border-style: none none none solid;
    background-color: rgba(51,51,51,.6);
    height: 3.5vh;
    font-size: 1.1vw;
    padding-left: 1vw;
    padding-top: 1.3vh;
    padding-bottom: 0.3vh;
    padding-right: 5.2vw;
    margin-left: 1vw;
}

#play{
    background-color: white;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2vw;
    border: none;
    width: 4.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#play p{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 1vw;
}

#play img{
    height: 1vw;
}

#play:hover{
    opacity: 0.8;
}