.home-movie-box{
    position: relative;
}

.home-movie-box .nav{
    position: absolute;
    top: 0;
    width: 100%;
}

.home-movie-box #home-movie-logo{
    width: 350px;
    margin-left: 50px;
}

.home-movie-box #home-movie-info{
    margin-left: 50px;
}

.home-movie-box #main-movie-controls{
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#home-movie-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-movie-options .sound-button{
    margin-left: auto;
    margin-right: 300px;
}

#home-movie-options #play{
    background-color: white;
    padding: 8px 39px;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: none;
    margin-left: 50px;
    height: 23px;
} 

#play:hover{
    opacity: 0.8;
}