.home-movie-box{
    position: relative;
}

.home-movie-box .nav{
    position: absolute;
    top: 0;
    width: 100%;
}

.home-movie-box #home-movie-logo{
    width: 20vw;
}

.home-movie-box #video{
    z-index: 0;
}

.home-movie-box #main-movie-controls{
    font-size: 3vh;
    font-weight: 400;
    position: absolute;
    top: 500px;
    width: 100%;
    z-index: 1;
    margin-left: 3vw;
}

#home-movie-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-movie-options .sound-button{
    margin-left: 77vw;
    height: 5vh;
}

#home-movie-options .sound-button:hover{
    cursor: pointer;
}

#home-movie-options #play{
    background-color: white;
    padding: 1.5vh 2.5vw;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 2vh;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: none;
    margin-top: auto;
} 

#play img{
    height: 2vh;
}

#play:hover{
    opacity: 0.8;
}