.movies-index{
    position: relative;
}

.movies-index .NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    /* position: absolute;
    top: 0;
    z-index: 1; */
}

.NavBar #logo{
    justify-content: flex-start;
    height: 65px;
    margin-top: 20px;
    margin-left: 45px;
}

.NavBar #github{
    height: 60px;
    margin-top: 3px;
}

.NavBar #linkedin{
    height: 70px;
    margin-top: 4px;
    margin-right: 8px;
}

.NavBar .right-nav{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-movie-player{
    position: absolute;
    top: -100px;
    /* position: relative;
    top: 0;
    z-index: 0; */
}

/* .section{
    position: relative;
    z-index: 10;
} */

.footer{
    border-top: 2px solid rgb(80, 80, 80);
    display: flex;
    justify-content: center;
}

.footer img{
    width: 2vw;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
}