.movies-index{
    position: relative;
}

.movies-index .NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    /* position: absolute;
    top: 0;
    z-index: 1; */
}

.movies-index .NavBar #logo{
    justify-content: flex-start;
    height: 65px;
    margin-top: 20px;
    margin-left: 45px;
}

.movies-index .NavBar #github{
    height: 60px;
    margin-top: 3px;
}

.movies-index .NavBar #linkedin{
    height: 70px;
    margin-top: 4px;
    margin-right: 8px;
}

.movies-index .NavBar .right-nav{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-movie-player{
    top: -100px;
    position: absolute;
    /* position: relative;
    top: 0;
    z-index: 0; */
}