.movies-index .NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movies-index .NavBar #logo{
    justify-content: flex-start;
    height: 65px;
    margin-top: 20px;
    margin-left: 45px;
}

.movies-index .NavBar #github{
    height: 60px;
    margin-top: 3px;
}

.movies-index .NavBar #linkedin{
    height: 70px;
    margin-top: 4px;
    margin-right: 8px;
}

.movies-index .NavBar .right-nav{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}