.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(black, transparent);
}

.nav #logo{
    justify-content: flex-start;
    /* height: 65px; */
    width: 5.5vw;
    margin-top: 20px;
    margin-left: 45px;
    z-index: 1;
}

.nav #github{
    height: 60px;
    margin-top: 3px;
}

.nav #linkedin{
    height: 70px;
    margin-top: 4px;
    margin-right: 8px;
}

.nav #logout-button{
    background-color: rgba(255, 0, 0, 0.89);
    padding: 8px 13px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: none;
}

.nav .right-nav{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

@keyframes fadeIt {
    0%   { background: linear-gradient(black, transparent) }
    100% { background: #000000; }
  }
  
  .scrolled{
      background: linear-gradient(black, transparent);
      background-image:none !important; 
           -o-animation: fadeIt 0.25s ease-in-out; 
              animation: fadeIt 0.25s ease-in-out; 
  }