.home-body {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.75)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/c43f3cc0-6f02-4b8a-9470-7b1732eb937d/3d037465-1692-41b0-84a8-073ccb74255f/US-en-20210315-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.home-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: none;
} 

.home-container #a{
    text-align: center;
    font-size: 3.125rem;
    font-weight: bold;
}

.home-container #b{
    text-align: center;
    font-size: 1.625rem;
    margin: 1rem auto;
}

.home-container #c{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.home-container .home-enter-email{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.home-container .home-enter-email input{
    padding-left: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.home-container button{
    /* padding: .5rem 0;
    left: .5rem 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto; */
    /* margin: auto; */
    border-radius: 2px;
    border: none;
    height: 60px;
    min-width: 215px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.89);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 400;
} 

.home-container button:hover {
    background-color: red;
}
.home-container input{
    /* border-radius: 2px; */
    padding: 10px 10px;
    height: 40px;
    min-width: 415px;
} 