#login-form-body {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.75)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/c43f3cc0-6f02-4b8a-9470-7b1732eb937d/3d037465-1692-41b0-84a8-073ccb74255f/US-en-20210315-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.login-form-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: none;
    min-height: 550px;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form-container h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

.login-form-container input{
    border-radius: 4px;
    height: 48px;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgb(75, 75, 75);
    border-style: none;
}

#login-email{
    margin-bottom: 0.75rem;
}

#login-password{
    margin-bottom: 1.5rem;
}

#login-submit{
    border-radius: 4px;
    height: 48px;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(255, 0, 0, 0.89);
    text-align: center;
    color: white;
    width: 220px;
    margin-bottom: 1rem;
    border-style: none;
}

#newto {
    color: rgb(75, 75, 75);;
    font-size: 12px;
}